/AI-HandsOn.mp4
/AI_Genetic_810198346.zip
/AI_min_max_810198346.zip
/SkypeSession.mp4
/sudoku_1.txt
/Test1-MySol.txt
/Test2-MySol.txt
/گزارش بخش بازی.docx
/گزارش بخش بازی.pdf
/گزارش بخش ژنتیک.docx
/گزارش بخش ژنتیک.pdf